doctype html
html(lang="en")
  head
    title Deep Purple - A color theme
    base(href="/" target="_blank")
    script(src="clipboard.js" type='text/javascript')
    script(type='text/javascript').
      if (foo) bar(1 + 5)
    link(rel="stylesheet" href="styles.css")
  body
    #container.content
      img(src="title.svg")
      div.color-group
        each item in colors
          button.color-button(data-color=item.color style=`--color: ${item.color}`)
            div.color-button__swatch    
            div.color-button__labels
              div.color-button__name= item.name
              div.color-button__color= item.color