@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

:root {
    --layer-1: #302231;
    --layer-2: #271828;
    --primary-300: #b682b9;
    --primary-400: #9c6f9f;
    --primary-600: #674769;
    --blue: #8179cd;
    --blue-bright: #968df0;
    --foreground: #ffe3e3;
    --monospace: "Fira Code", monospace;
    --sans-serif: "Source Sans Pro", sans-serif;

    --text-sm: 0.75rem;
    --text-md: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.25rem;

    --rounded-sm: 12px;
    --rounded-md: 18px;
}

html {
    background-color: var(--layer-2);
    color: var(--foreground);
    font-size: 16px;
    font-family: var(--sans-serif);
    padding: 1rem;
}

p {
    color: var(--primary-400);
    max-width: 450px;
    text-align: center;
}

.content-layer {
    border-radius: 6px;
    background-color: var(--layer-1);
}

h3 {
    color: var(--foreground);
    font-size: var(--text-lg);
    margin: 0.5rem;
}

section.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-svg {
    margin-top: 2rem;
}

.ports-container {
    margin: 1rem 0;
    display: flex;
}

.ports-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border-radius: var(--rounded-sm);
    padding: 1rem 2rem;
    cursor: pointer;
    transition: 200ms ease background-color;
}

.ports-link:hover {
    background-color: #362e43;
}

.ports-link:hover .ports-link__img {
    filter: brightness(1.2);
}

.ports-link:hover .ports-link__name {
    color: var(--blue-bright);
}

.ports-link:hover .ports-link__version {
    color: var(--primary-300);
}

.ports-link__img {
    width: 50px;
    height: 50px;
    transition: 200ms ease filter;
    filter: brightness(1);
}

.ports-link__name {
    margin-top: 0.4rem;
    color: var(--blue);
    font-size: var(--text-base);
    font-weight: bold;
    transition: 200ms ease color;
}

.ports-link__version {
    color: var(--primary-600);
    font-size: var(--text-md);
    transition: 200ms ease color;
}

.squiggle {
    margin: 4rem auto;
}

.content {
    position: relative;
    width: 100%;
    padding: 1rem;
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.color-button {
    background-color: transparent;
    position: relative;
    border: none;
    display: flex;
    align-items: center;
    text-align: left;
    cursor: pointer;
    font-family: var(--monospace);
    font-size: var(--text-base);
}

.color-button__name {
    color: var(--color);
    font-weight: bold;
}

.color-button__color {
    color: var(--color);
    opacity: 0.7;
    font-size: var(--text-md);
}

.color-button__swatch {
    position: relative;
    border-radius: 50%;
    background-color: var(--color);
    width: 25px;
    height: 25px;
    margin-right: 0.7rem;
}

.color-button__swatch::after {
    --size: 10px;
    content: "";
    width: calc(100% + var(--size));
    height: calc(100% + var(--size));
    border-radius: 50%;
    left: calc(var(--size) / 2 * -1);
    top: calc(var(--size) / 2 * -1);
    box-sizing: border-box;
    position: absolute;
    opacity: 0.5;
    border: 2px solid var(--color);
}

.color-group {
    display: flex;
    /* border: 1px solid var(--primary-600); */
    border-radius: var(--rounded-md);
}
